ion-content::part(scroll) {
  padding-right: 25px;
}

ion-content {
  display: flex;
  flex-direction: column;
  padding-top: 37px !important;
  padding-left: 12px;
  max-width: 500px;
  margin: auto 0 !important;
  width: calc(100% + 28px);
  overflow: scroll;
  height: 100vh !important;
  text-align: left;

  .close-button {
    position: fixed;
    top: 5%;
    right: 5%;
    z-index: 10;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.55;

    ion-icon {
      color: #e34411;
      font-size: 35px;
    }
  }
  .add-details-header {
    padding-top: 32px;
  }

  .add-details-header > * {
    padding-left: 20px;
    padding-right: 20px;
  }

  .add-title {
    font-size: 1.5rem !important;
    font-weight: 600;
  }
  .add-section {
    margin: 12px 0px;
    font-weight: 200;
  }

  .user-wrapper-form {
    margin: auto;

    form {
      width: 90%;
      margin: 15px !important;
      display: flex;
      flex-direction: column;
      max-width: 350px !important;
    }

    form > * {
      margin-bottom: 8px !important;
      width: 100% !important;
    }

    ion-input {
      background: #e346112a !important;
      padding: 0.4rem 0.9rem 0.4rem !important;
      // border-radius: 10px;
      height: 100px !important;
      border: none !important;
      --placeholder-color: #000 !important;
      text-align: left;

      input:-webkit-autofill,
      .native-input:-webkit-autofill {
        background: transparent !important;
      }

      input:autofill {
        --background: transparent !important;
      }
    }

    form ion-text {
      text-align: right;
      font-size: 12px !important;
      margin: 6px -3px 6px !important;
      color: #e34611;
      font-weight: 200;
      cursor: pointer;
    }

    .button-solid {
      height: 50px;
      padding: 0 !important;
      margin: 10px auto;
      --background: #e34411 !important;
      --background-activated: transparent;
      --background-hover: #e346115b !important;
      --background-focused: #e346115b !important;
      --background-activated-opacity: 0.6;
      --background-focused-opacity: 0.08;
      --background-hover-opacity: 0.85;
      --box-shadow: 0 3px 1px -2px #e34411, 0 2px 2px 0 #e346118c 0 1px 5px 0 #e346110a;
    }
  }
}

@media (min-width: 466px) {
  ion-content {
    overflow: hidden !important;
  }
}
