<ion-header class="items-header">
  <ion-toolbar class="items-header-toolbar ion-text-center">
    <div class="items-header-toolbar-container">
      <ion-button [routerLink]="['/tabnav/home']"  routerDirection="back" class="ripple-parent">
        <ion-icon slot="start" name="chevron-back"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-button>
      <ion-title> All Items </ion-title>
      <ion-button [routerLink]="['/tabnav/cart']" routerDirection="forward" class="ripple-parent">
        <ion-icon class="cart-link-icon" name="cart"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="item-section">
    <ion-card class="item" *ngFor="let item of items">
      <div class="background-image-wrapper">
        <img [src]="item.img" />
      </div>
      <div class="item-summary" (click)="openItemDetails(item.id)">
        <span class="section-one">
          <ion-title class="item-title">{{item.name}}</ion-title>
          <ion-chip class="item-category">{{item.category}}</ion-chip>
        </span> <span class="section-price">
          <span class="item-price">
            <span class="currency">{{ item.currency }}</span>
            {{item.price | number }}
          </span>
        </span>
      </div>
    </ion-card>
  </section>
</ion-content>
