<ion-header class="items-header">
  <ion-toolbar>
    <ion-button [routerLink]="['/tabnav/home']">
      <ion-icon slot="start" [routerLink]="['/tabnav/home']" name="chevron-back"></ion-icon>
    </ion-button>
    <ion-title> All Items </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="item-section">
    <ion-card class="item" *ngFor="let item of items">
      <div class="background-image-wrapper">
        <img [src]="item.image" />
      </div>
      <div class="item-summary" (click)="openItemDetails(item.id)">
        <span class="section-one">
          <ion-title class="item-title">{{item.name}}</ion-title>
          <ion-chip class="item-category">{{item.category}}</ion-chip>
        </span> <span class="section-price">
          <span class="item-price">
            <span class="currency">{{ item.currency }}</span>
            {{item.price | number }}
          </span>
        </span>
      </div>
    </ion-card>
  </section>
</ion-content>