<ion-content [fullscreen]="true">
  <div class="create-content">
    <div class="image-wrapper-logo">
      <img src="../../assets/logo1.JPG" />
    </div>
    <section class="intro">
      <p class="create">Welcome</p>
      <p>Please enter your details below.</p>
    </section>

    <section class="create-wrapper-form">
      <form class="create-form" (ngSubmit)="createUserAccount(validationsForm.value)" [formGroup]="validationsForm">
        <label class="error-message">{{errorMessage}}</label>

        <!-- INPUTS -->
        <ion-input class="email-input" required type="email" formControlName="email" placeholder="Email" name="email"></ion-input>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validationMessages.email">
            <div class="error-message" *ngIf="validationsForm.get('email').hasError(validation.type) &&
            (validationsForm.get('email').dirty || validationsForm.get('email').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-input class="password-input" required type="password" placeholder="Password" name="password" formControlName="password"
          clear-input="true">
        </ion-input>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validationMessages.password">
            <div class="error-message" *ngIf="validationsForm.get('password').hasError(validation.type) &&
               (validationsForm.get('password').dirty || validationsForm.get('password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <!-- SUBMIT FOR CREATION -->
        <ion-button class="create-button" type="submit" [disabled]="!validationsForm.valid">
          CREATE ACCOUNT
        </ion-button>
      </form>
    </section>
    <section class="login-account-section">
      <p>
        <!-- LINK TO CREATE ACCOUNT -->
        Already have an account? <span class="login-account-link" [routerLink]="['/login']">Login</span>
      </p>
    </section>
  </div>
</ion-content>