.item-header {
  position: relative;
  margin-top: 0px;
  padding-bottom: 5px !important;
  z-index: -5;
  background: #fff;

  .image-cover-background {
    background: #e34411;
    border-bottom-left-radius: 105px;
    width: 400px;
    height: 400px;
    position: absolute;
    top: -130px;
    left: 0px;
    transform: rotate(-45deg);
  }

  ion-toolbar {
    display: flex !important;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row !important;
    --margin: 0px;
    --background: transparent !important;

    ion-button {
      margin-left: 5px;
      width: 50px;
      height: 50px;
      --border-radius: 50%;
      --background: transparent !important;
      --box-shadow: none;

      ion-icon {
        --cursor: pointer !important;
        display: block;
        color: #ffffff !important;
      }
    }

    ion-title {
      display: inline-block;
      position: absolute;
      top: 19px;
      left: 1%;
      width: 100%;
      text-align: center;
    }
  }
}

ion-content {
  width: calc(100% + 35px);
  margin: 0px !important;
  padding: 0 15px;
  font-size: 150%;
}

/////////////////////////////////
// ITEM ////////////////////
/////////////////////////////////

.item-wrapper {
  padding: auto 20px;
  margin-right: 17px;

  .image-wrapper {
    display: block;
    min-height: 35vh;

    img {
      object-fit: fill;
      width: 100%;
    }
  }

  .item {
    position: absolute;
    bottom: 0px;
    right: 0%;
    left: 0%;
    font-size: 75% !important;
    padding: 35px 20px 0px 20px !important;
    border-top-right-radius: 35px !important;
    border-top-left-radius: 35px !important;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    flex-direction: column !important;
    margin: -5px 0 -25px !important;
    background: #fff;
    box-shadow: 0px -2px 12px -2px rgba(221, 221, 221, 0.849);

    .item-details-header {
      display: flex;

      ion-title {
        color: rgba(0, 0, 0, 0.89);
        padding: 0px !important;
        font-weight: 600;
        font-size: 20px;
        text-transform: capitalize;
      }

      ion-chip {
        font-size: 10px;
        font-weight: 200;
        opacity: 0.8;
        background: #e346114b;
        color: #e34411;
        --min-width: 20px;
      }
    }

    .item-details-section {
      width: 100vw;
      min-height: 70px;
      padding: 12px 24px 12px 18px;

      ion-header {
        color: rgba(0, 0, 0, 0.89);
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 0.4rem;
      }

      .specific-ingredients {
        line-height: 1.5rem;
      }
    }

    .quantity-selection {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin: 12px auto;
      color: rgba(0, 0, 0, 0.89);

      .quantity-label {
        flex: 1 1 50%;
        font-size: 14px;
        font-weight: 600;
      }

      .quantity-selection-input {
        display: flex;
        flex-direction: row;
        align-items: center;

        span,
        ion-label {
          margin: 3px;
        }

        span {
          border-radius: 50%;
          display: flex;
          --ripple-color: #e34611a2 !important;
          justify-content: center;
        }

        ion-icon {
          pointer-events: none;
          font-size: 25px !important;
          color: #e34411;
        }

        ion-icon[name="remove-circle-outline"] {
          opacity: 0.45 !important;
        }
      }
    }

    //////////////////////////////
    /// Bottom Fixed Card
    //////////////////////////////

    .fixed-card-order {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 35px 20px;
      width: 100vw;
      margin: 0px;
      height: 85px;
      color: #fff;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      background: #e34411;

      .total-price-section {
        display: flex;
        flex-direction: column;
        text-align: left;
        font-size: 0.85rem;
        font-weight: 200 !important;

        span {
          display: block;
          margin-bottom: 0.2rem;
        }

        .total-price-heading {
          font-size: 75%;
          font-weight: 300;
        }
      }

      ion-button {
        text-transform: capitalize;
        --background: #fff !important;
        --border-radius: 28px !important;
        --box-shadow: 0 3px 1px -2px #e34411, 0 2px 2px 0 #e346118c 0 1px 5px 0 #e346110a;
        color: #e34411;
      }
    }

  }

}

//  Media queries
@media (min-width: 476px){
  .item-wrapper .item{
    bottom: unset;
    padding-bottom: 0px !important;
  }

}

