// ////////////////////
// TOP SECTION /////////
//////////////////////////
ion-content{
   width: calc(100% + 20px) !important;
   height:auto !important;
   padding: 0 25px;
   display: flex;
   justify-content: center;
}
ion-content::part(scroll){
   padding-right: 20px;
}
.login-content {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding-top: 67px !important;
  width: 75vw;
  max-width: 500px;
  margin: 0px auto;


  .image-wrapper-logo {
    img {
      display: block;
      margin: auto;
    }
  }

  .intro {
    .login {
      font-size: 26px;
      font-weight: 300;
    }

    :not(.login) {
      margin-top: -0.7rem;
      font-size: 14px;
      opacity: 0.66;
    }
  }

  .login-wrapper-form {
    form {
      width: 100%;
      margin: 18px auto 12px !important;
      display: flex;
      flex-direction: column;
      max-width: 300px !important;
    }

    form>* {
      margin-bottom: 12px !important;
      width: 100% !important;
    }


    ion-input[type="email"],
    ion-input[type="password"] {
      background: #e346112a !important;
      padding: 0.4rem 0.9rem 0.4rem !important;
      border-radius: 10px;
      height: 100px !important;
      border: none !important;
      --placeholder-color: #000;
      text-align: left;
    }

    form ion-text {
      text-align: right;
      font-size: 12px !important;
      margin: 6px -3px 6px !important;
      color: #e34611;
      font-weight: 200;
      cursor: pointer;
    }

    .button-solid {
      height: 60px;
      padding: 0 !important;
      margin: 10px auto 20px;
      --background: #e34411 !important;
      --border-radius: 28px !important;
      --background-activated: transparent;
      --background-hover: #e346115b !important;
      --background-focused: #e346115b !important;
      --background-activated-opacity: 0.6;
      --background-focused-opacity: 0.08;
      --background-hover-opacity: 0.85;
      --box-shadow: 0 3px 1px -2px #e34411, 0 2px 2px 0 #e346118c 0 1px 5px 0 #e346110a;
    }
  }

  .create-account-section {
    font-weight: 300;
    font-size: 12px;

    .create-account-link {
      color: #e34411;
      font-weight: 600;
      opacity: 0.8;
      cursor: pointer;
    }

  }

}
