<ion-content>
  <div class="login-content">
    <div class="image-wrapper-logo">
      <img src="../../assets/logo1.JPG" />
    </div>
    <section class="intro">
      <p class="login">Login Now </p>
      <p>Please enter the details below to continue</p>
    </section>

    <section class="login-wrapper-form">
      <form class="login-form">
        <ion-input type="email" placeholder="Email"></ion-input>
        <ion-input type="password" placeholder="Password" clear-input="true"></ion-input>
        <!-- LINK TO FORGOT PASSWORD -->
        <ion-text [routerLink]="['/tabnav/home']" routerDirection="root"> Forgot Password?</ion-text>
        <ion-button class="login-button" [routerLink]="['/tabnav/home']"  routerDirection="root">
          Login
        </ion-button>
      </form>
    </section>
    <section class="create-account-section">
      <p>
        <!-- LINK TO CREATE ACCOUNT -->
        Don't have an account? <span class="create-account-link" [routerLink]="['/create-account']">Register</span>
      </p>
    </section>
  </div>
</ion-content>
