<ion-header class="cart-header">
  <ion-toolbar class="ion-no-shadow">
    <ion-button routerDirection="back" [routerLink]="['/tabnav/profile']">
      <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
    </ion-button>
    <ion-title>My Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="cart-section">
    <ion-card class="item">
      <div class="background-image-wrapper">
        <img src="../../assets/flakesx35.png" />
      </div>
      <div class="item-summary">
        <ion-card-subtitle class="item-category">Desert</ion-card-subtitle>
        <ion-card-title class="item-title">Sandwich</ion-card-title>
        <ion-card-content class="item-price"><span>UGX</span> 6400</ion-card-content>
      </div>
      <div class="input-quantity">
        <span title="subtract" (click)="subtract()">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </span>
        <ion-label>1</ion-label>
        <span title="add" (click)="addQuantity()">
          <ion-icon name="add-circle"></ion-icon>
        </span>
      </div>
    </ion-card>
    <ion-card class="item">
      <div class="background-image-wrapper">
        <img src="../../assets/hot dogx35.png" />
      </div>
      <div class="item-summary">
        <ion-card-subtitle class="item-category">Desert</ion-card-subtitle>
        <ion-card-title class="item-title">Sandwich</ion-card-title>
        <ion-card-content class="item-price"><span>UGX</span> 700</ion-card-content>
      </div>
      <div class="input-quantity">
        <span title="subtract" (click)="subtract()">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </span>
        <ion-label>1</ion-label>
    <span title="add" (click)="addQuantity()">
          <ion-icon name="add-circle"></ion-icon>
        </span>
      </div>
    </ion-card>
    <ion-card class="item">
      <div class="background-image-wrapper">
        <img src="../../assets/flakesx35.png" />
      </div>
      <div class="item-summary">
        <ion-card-subtitle class="item-category">Desert</ion-card-subtitle>
        <ion-card-title class="item-title">Sandwich</ion-card-title>
        <ion-card-content class="item-price"><span>UGX</span> 4000</ion-card-content>
      </div>
      <div class="input-quantity">
        <span title="subtract" (click)="subtract()">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </span>
        <ion-label>1</ion-label>
    <span title="add" (click)="addQuantity()">
          <ion-icon name="add-circle"></ion-icon>
        </span>
      </div>
    </ion-card>
    <ion-card class="item">
      <div class="background-image-wrapper">
        <img src="../../assets/hot dogx35.png" />
      </div>
      <div class="item-summary">
        <ion-card-subtitle class="item-category">Desert</ion-card-subtitle>
        <ion-card-title class="item-title">Sandwich</ion-card-title>
        <ion-card-content class="item-price"><span>UGX</span> 19,000</ion-card-content>
      </div>
      <div class="input-quantity">
        <span title="subtract" (click)="subtract()">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </span>
        <ion-label>1</ion-label>
    <span title="add" (click)="addQuantity()">
          <ion-icon name="add-circle"></ion-icon>
        </span>
      </div>
    </ion-card>
    <ion-card class="item">
      <div class="background-image-wrapper">
        <img src="../../assets/salads.png" />
      </div>
      <div class="item-summary">
        <ion-card-subtitle class="item-category">Desert</ion-card-subtitle>
        <ion-card-title class="item-title">Sandwich</ion-card-title>
        <ion-card-content class="item-price"><span>UGX</span> 8,900</ion-card-content>
      </div>
      <div class="input-quantity">
        <span title="subtract" (click)="subtract()">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </span>
        <ion-label>1</ion-label>
    <span title="add" (click)="addQuantity()">
          <ion-icon name="add-circle"></ion-icon>
        </span>
      </div>
    </ion-card>
    <ion-card class="item">
      <div class="background-image-wrapper">
        <img src="../../assets/hot dog.png" />
      </div>
      <div class="item-summary">
        <ion-card-subtitle class="item-category">Desert</ion-card-subtitle>
        <ion-card-title class="item-title">Sandwich</ion-card-title>
        <ion-card-content class="item-price"><span>UGX</span> 63,400</ion-card-content>
      </div>
      <div class="input-quantity">
        <span title="subtract" (click)="subtract()">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </span>
        <ion-label>1</ion-label>
    <span title="add" (click)="addQuantity()">
          <ion-icon name="add-circle"></ion-icon>
        </span>
      </div>
    </ion-card>
  </section>
  <section class="amount-section">
    <ion-item class="amount-section-subtotal" lines="none">
      <!-- PRICE OF ALL ITEMS -->
      <span>Subtotal</span>
      <span> UGX 10500</span>
    </ion-item>
    <ion-item class="amount-section-total" lines="none">
      <span>Total</span>
      <!-- FINAL PRICE WITH TRANSPORT INCLUSIVE -->
      <span>UGX 10500</span>
    </ion-item>
    <!-- UPDATE CURRENT LOCATION PRICE (EACH KM IS UGX 2000)-->
    <span class="distance-price">(Distance : 59 KM - UGX 59,000)</span>
  </section>
  <section class="order-button">
    <ion-button class="order-button">Place Order</ion-button>
  </section>

  <!-- ITEM TO SHOW WHEN CART IS EMPTY -->
  <!-- <ion-header>
    <ion-toolbar class="ion-no-shadow">
      <>Go back to select your first <a>item</a></>
    </ion-toolbar>
 </ion-header> -->
</ion-content>
