<ion-header class="cart-header">
  <ion-toolbar class="ion-no-shadow">
    <ion-button routerDirection="back" [routerLink]="['/tabnav/profile']">
      <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
    </ion-button>
    <ion-title>My Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="cart-section">
    <ion-card class="item" *ngFor="let item of cartItems">
      <div class="background-image-wrapper">
        <img [src]="item.image" />
      </div>
      <div class="item-summary">
        <ion-card-subtitle class="item-category">{{item.category}}</ion-card-subtitle>
        <ion-card-title class="item-title">{{item.name}}</ion-card-title>
        <ion-card-content class="item-price"><span>{{item.currency}}</span> {{item.price | number}}</ion-card-content>
      </div>
      <div class="input-quantity">
        <ion-label>{{ item.quantity }}</ion-label>
        <span title="subtract" class="ion-activatable" 
        style="overflow: visible; position: relative;" (click)="removeCartItem(item.id)">
          <ion-icon name="trash"></ion-icon>
          <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        </span>
        
      </div> 
    </ion-card>
  </section>
  <section class="amount-section">
    <ion-item class="amount-section-subtotal" lines="none">
      <!-- PRICE OF ALL ITEMS -->
      <span>Subtotal</span>
      <span> {{ subTotal | number }}</span>
    </ion-item>
    <ion-item class="amount-section-total" lines="none">
      <span>Total</span>
      <!-- FINAL PRICE WITH TRANSPORT INCLUSIVE -->
      <span>{{ grandTotal | number }}</span>
    </ion-item>
    <!-- UPDATE CURRENT LOCATION PRICE (EACH KM IS UGX 2000)-->
    <span class="distance-price">(Distance : {{ distance }} KM - UGX {{ distanceCost }})</span>
  </section>
  <section class="order-button">
    <ion-button class="order-button" [routerLink]="['/send-payment']" (click)="placeOrder()">Place Order</ion-button>
  </section>

  <!-- ITEM TO SHOW WHEN CART IS EMPTY -->
  <!-- <ion-header>
    <ion-toolbar class="ion-no-shadow">
      <>Go back to select your first <a>item</a></>
    </ion-toolbar>
 </ion-header> -->
</ion-content>
