<ion-header class="items-header">
  <ion-toolbar>
    <ion-button [routerLink]="['/tabnav/home']">
      <ion-icon slot="start" name="chevron-back"></ion-icon>
    </ion-button>
    <ion-title> My Favourites </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="fav-item-section">
     <ion-card class="item">
      <div class="background-image-wrapper">
        <img src="../../assets/flakesx35.png" />
      </div>
      <div class="item-summary"  [routerLink]="['/single-item']">
        <span class="section-one">
          <ion-title class="item-title">Sandwich</ion-title>
          <ion-chip class="item-category">Desert</ion-chip>
        </span> <span class="section-price">
          <span class="item-price"><span class="currency">UGX</span> 8,900</span>
        </span>
      </div>
    </ion-card>
     <ion-card class="item">
      <div class="background-image-wrapper">
        <img src="../../assets/hot dogx35.png" />
      </div>
    <div class="item-summary"  [routerLink]="['/single-item']">
        <span class="section-one">
          <ion-title class="item-title">Sandwich</ion-title>
          <ion-chip class="item-category">Desert</ion-chip>
        </span>
        <span class="section-price">
          <span class="item-price"><span class="currency">UGX</span> 8,900</span>
        </span>
      </div>
    </ion-card>
     <ion-card class="item">
      <div class="background-image-wrapper">
        <img src="../../assets/flakesx35.png" />
      </div>
    <div class="item-summary"  [routerLink]="['/single-item']">
        <span class="section-one">
          <ion-title class="item-title">Sandwich</ion-title>
          <ion-chip class="item-category">Desert</ion-chip>
        </span>
        <span class="section-price">
          <span class="item-price"><span class="currency">UGX</span> 8,900</span>
        </span>
      </div>
    </ion-card>
     <ion-card class="item">
      <div class="background-image-wrapper">
        <img src="../../assets/hot dogx35.png" />
      </div>
    <div class="item-summary"  [routerLink]="['/single-item']">
        <span class="section-one">
          <ion-title class="item-title">Sandwich</ion-title>
          <ion-chip class="item-category">Desert</ion-chip>
        </span>
        <span class="section-price">
          <span class="item-price"><span class="currency">UGX</span> 8,900</span>
        </span>
      </div>
    </ion-card>
     <ion-card class="item">
      <div class="background-image-wrapper">
        <img src="../../assets/salads.png" />
      </div>
    <div class="item-summary" [routerLink]="['/single-item']">
        <span class="section-one">
          <ion-title class="item-title">Sandwich</ion-title>
          <ion-chip class="item-category">Desert</ion-chip>
        </span>
        <span class="section-price">
          <span class="item-price"><span class="currency">UGX</span> 8,900</span>
        </span>
      </div>

    </ion-card>
     <ion-card class="item">
      <div class="background-image-wrapper">
        <img src="../../assets/hot dog.png" />
      </div>
      <div class="item-summary">
        <span class="section-one">
          <ion-title class="item-title">Sandwich</ion-title>
          <ion-chip class="item-category">BreakFast</ion-chip>
        </span>
        <span class="section-price">
          <span class="item-price"><span class="currency">UGX</span> 8,900</span>
        </span>
      </div>
    </ion-card>
  </section>
</ion-content>
