<ion-header class="track-order-header">
  <ion-toolbar>
    <ion-button class="ripple-parent" [routerLink]="['/tabnav/profile']">
      <ion-icon slot="start" name="chevron-back"></ion-icon>
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
     </ion-button>
    <ion-title>Track Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- LOCATION IN REAL TIME SLOT -->
  <ion-header>
    <ion-toolbar class="map-location-wrapper">
      <div #map id="map"></div>
    </ion-toolbar>
  </ion-header>

  <!-- DRIVER CONTACT -->
  <ion-card class="track-card-details" slot="fixed">
    <div class="line-divider"></div>
    <ion-card class="driver-contact ion-no-border">
      <ion-avatar>
        <img src="../../assets/profile/profile1.PNG">
      </ion-avatar>
      <ion-item lines="none">
        <div class="driver-details">
          <p class="driver-name">Sunday Nicholas</p>
          <p class="driver-spec">Driver</p>
        </div>
      </ion-item>
      <button class="call-button ripple-parent ion-activatable" (click)="callDriver()">
        <ion-icon name="call"></ion-icon>
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
       </button>
    </ion-card>

    <!-- TRACKING DELIVERY -->
    <section class="track-section">
      <div class="start-location-details">
        <div class="time-icon-wrapper">
          <ion-icon class="time-icon" name="time"></ion-icon>
        </div>
        <div class="start-location">
          <p class="start-location-place" #start> Safico Cafe</p>
          <p class="start-location-time">Restaurant - {{ startDate | date:'shortTime' }}</p>
        </div>
      </div>
      <div class="transition-location-indicator">
        <ion-icon class="circle-icon" name="ellipse"></ion-icon>
        <ion-icon class="circle-icon transition-circle" name="ellipse"></ion-icon>
        <ion-icon class="circle-icon" name="ellipse"></ion-icon>
      </div>
      <div class="end-location-details">
        <div class="location-icon-wrapper">
          <ion-icon class="location-icon" name="location"></ion-icon>
        </div>
        <div class="end-location">
          <p class="end-location-place" #end>{{ deliveryLocation }}</p>
          <p class="end-location-time">Delivery - {{ deliveryTime }}</p>
        </div>
      </div>
    </section>

    <!-- ORDER RECIEVED BUTTON -->
    <ion-button class="ripple-parent" (click)='isOrderRecieved()'>Order Recieved
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
     </ion-button>
  </ion-card>
</ion-content>
