///////////////////////////////////
// FIRST SECTION
///////////////////////////////////

ion-content {
  width: calc(100% - 3px);
  display: flex;
  justify-content: center !important;
  text-align: center;
}

// Scroll bar/* Works on Firefox */
ion-content::part(scroll) {
  scrollbar-width: thin !important;
  scrollbar-color: blue orange !important;
}

/* Works on Chrome, Edge, and Safari */
ion-content::part(scroll)::-webkit-scrollbar {
  width: 2px !important;
  --width: 2px !important;
}

.header-toolbar-content {
  display: flex !important;
  flex-direction: row;
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
  justify-content: space-between !important;
  align-items: center !important;
  width: 100vw;

  ion-title {
    display: inline-block;
    width: 60% !important;
  }

  ion-button {
    margin: auto;
    font-size: 75%;
    --background: transparent;
    --color: #e34411;

    ion-icon {
      font-size: 12px;
    }
  }
}

ion-avatar {
  position: relative;
  width: 120px !important;
  height: 120px !important;
  margin: 1.8rem auto 1.2rem !important;

  .edit-image-icon-wrapper {
    background: #e34411;
    border-radius: 50%;
    position: absolute;
    width: 35px;
    height: 35px;
    right: 4px;
    bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.86;
    cursor: pointer;

    .edit-image-icon {
      font-size: 20px !important;
      color: #fff;
    }
  }
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  opacity: 0.6;
  justify-content: center;
  margin-bottom: 15px !important;
}

.profile-name,
.email,
.home-address-location {
  margin-bottom: 9px;
  display: block;
}

.profile-name .first-name,
.profile-name .last-name {
  font-weight: 700;
  margin-right: 5px;
  font-size: 27px;
}

.profile-email .email {
  font-size: 14px;
}

.home-address-location {
  font-size: 11px;
}

//////////////////////////////////////
// BOTTOM SECTION FOR ORDERS /////////
//////////////////////////////////////

.profile-request-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 95%;
}

.profile-request-services > *,
.first-request,
.second-request {
  padding: 14px;
  display: flex;
  font-size: 0.96rem;
  font-weight: 500;
  color: rgb(31, 31, 31);
  justify-content: space-between !important;
  align-items: center;
}

ion-icon {
  font-size: 27px !important;
}

.background-icon-wrapper {
  margin-right: 9px;
  background-color: #57555536;
  width: 2.5rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

ion-icon[name="chevron-forward-circle"] {
  --background: transparent !important;
  cursor: pointer;
  color: #a1a19d9a;
}

ion-icon[name="location"] {
  padding: 4px;
  color: #b19644;
}

ion-icon[name="menu"] {
  padding: 4px;
  color: #e34411;
}

@media (max-width: 400px) {
  .header-toolbar {
    ion-button {
      .log-out-label {
        display: none;
        visibility: hidden;
      }
    }
  }
}
@media (min-width: 605px) {
  .profile-request-services {
    width: 600px;
    margin: auto;
  }
}
