<ion-header class="header-profile">
  <ion-toolbar class="header-toolbar">
  <div class="header-toolbar-content">
    <ion-title>Welcome {{firstName}} </ion-title>
    <ion-button class="logout-button ripple-parent" (click)="authService.logOut()">
      <span class="log-out-label">Log Out</span>
      <ion-icon name="log-out"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="profile-image-section">
    <ion-avatar>
      <img [src]="filePathFireStore" />
      <div (click)=" presentUploadModal()" class="ripple-parent ion-activatable edit-image-icon-wrapper">
        <ion-icon class="edit-image-icon" name="pencil-outline"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </ion-avatar>
  </section>

  <section class="profile-details">
    <span class="profile-name">
      <span class="first-name">{{firstName}}</span>
      <span class="last-name">{{lastName}}</span>
    </span>
    <span class="email"> {{ userEmail }}</span>
    <span class="home-address-location">{{ address }}</span>
  </section>

  <div class="profile-request-services">
    <ion-card class="card-one ripple-parent" (click)="goToCartPage()">
      <div class="first-request">
        <div class="background-icon-wrapper">
          <ion-icon name="menu"></ion-icon>
        </div>
        <p class="go-cart">My Orders </p>
      </div>
      <ion-icon name="chevron-forward-circle"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-card>
    <ion-card class="card-two" (click)="goToTrackPage()">
      <div class="second-request">
        <div class="background-icon-wrapper">
          <ion-icon name="location"></ion-icon>
        </div>
        <p class="track-my-orders">Order Progress</p>
      </div>
      <ion-icon name="chevron-forward-circle"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-card>
  </div>

</ion-content>
