<ion-content [fullscreen]="true">
  <div class="reset-content">
    <div class="image-wrapper-logo">
      <img src="../../assets/logo1.JPG" />
    </div>
    <section class="intro">
      <p class="reset">We have got you covered!</p>
    </section>

    <section class="reset-wrapper-form">
      <form class="reset-form">
        <ion-input #email required type="email" placeholder="Email" name="email"></ion-input>
        <ion-button class="reset-button"
         (click)="resetPassword(email)">
          Reset Password
        </ion-button>
      </form>
    </section>
    <section class="login-account-section">
      <p>
        <!-- LINK TO CREATE ACCOUNT -->
        Already have an account? <span class="login-account-link" [routerLink]="['/login']">Login</span>
      </p>
    </section>
  </div>
</ion-content>
