/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

#container {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  min-width: 432px !important;
  width: 100%;
  margin: auto;
  max-width: 900px;
}


.custom-alert-wrapper .alert-wrapper {
  --width: 64vw;
  --height: 25vh;

  .alert-title {
    color: #e34411;
  }
  .alert-message{
     color: #000;
     font-weight: 300;
  }
  .alert-button.sc-ion-alert-md.alert-style-one {
    color: #e34411;
  }

  .alert-button.sc-ion-alert-md.alert-style-two {
    color: #000 !important;
    opacity: 0.45;
  }
}

.ripple-parent{
  position: relative;
  overflow: hidden;
}

ion-ripple-effect{
  --ripple-color: #e34611a2 !important;
}

.tab-selected,
.tab-selected:hover,
.tab-selected:focus,
ion-tab-button:hover,
ion-tab-button:focus{
   color: #e34411 !important;
   --color: #e34411 !important;
}

// Form Validation
.error-message{
   color:  red;
   opacity: 0.65;
}


// Modal design
.user-add-modal {
  padding: 18px;
  height: 100vh;

  .add-title {
      padding-top: 32px;
      font-size: 2.5rem !important;
  }
  .add-section {
      padding: 12px 18px;
  }

  ion-content {
      padding: 10px 5px !important;
      height: 100vh;
  }

  .create-content {
      display: flex;
      flex-direction: column;
      padding-top: 37px !important;
      width: 95vw;
      max-width: 500px;
      margin: auto !important;

      .user-wrapper-form {
          margin: auto;

          form {
              width: 100%;
              margin: 15px  !important;
              display: flex;
              flex-direction: column;
              max-width: 350px !important;
          }

          form > * {
              margin-bottom: 12px !important;
              width: 100% !important;
          }

          ion-input {
              background: #e346112a !important;
              padding: 0.4rem 0.9rem 0.4rem !important;
              // border-radius: 10px;
              height: 100px !important;
              border: none !important;
              --placeholder-color: #000 !important;
              text-align: left;

              input:-webkit-autofill,
              .native-input:-webkit-autofill {
                  background: transparent !important;
              }

              input:autofill {
                  --background: transparent !important;
              }
          }

          form ion-text {
              text-align: right;
              font-size: 12px !important;
              margin: 6px -3px 6px !important;
              color: #e34611;
              font-weight: 200;
              cursor: pointer;
          }

          .button-solid {
              height: 50px;
              padding: 0 !important;
              margin: 10px auto;
              --background: #e34411 !important;
              --background-activated: transparent;
              --background-hover: #e346115b !important;
              --background-focused: #e346115b !important;
              --background-activated-opacity: 0.6;
              --background-focused-opacity: 0.08;
              --background-hover-opacity: 0.85;
              --box-shadow: 0 3px 1px -2px #e34411, 0 2px 2px 0 #e346118c 0 1px 5px 0 #e346110a;
          }
      }
  }
}
