<div class="home-page">
  <ion-header class="ion-no-border header-home">
    <ion-toolbar class="header-home-toolbar">
      <ion-title class="company-name">Safico Cafe</ion-title>
      <ion-avatar slot="end">
        <img src="../../assets/profile/profile1.PNG" alt="owner of the account" class="profile-image">
      </ion-avatar>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <div id="main-section">
      
      <div id="top-section">
        <ion-searchbar animated placeholder="Search Food" (ionChange)="onSearchChange($event)" showCancelButton="focus"
          inputmode="search" search-icon="search-outline" class="ion-no-shadow">
        </ion-searchbar>

        <header>
          <span class="recommended-items">Recommended</span>
          <span class="list-all-items">
            <span class="view-all-items-link ripple-parent" [routerLink]="['/items']">View All</span>
            <ion-icon class="arrow-forward-icon" name="chevron-forward"></ion-icon>
            <ion-ripple-effect></ion-ripple-effect>
          </span>
        </header>

        <!-- Slides for the recommended items -->
        <ion-slides class="first-slides" mode="ios" pager="false" [options]="options">

          <ion-slide *ngFor="let item of itemsRecommended">
            <div class="item">
              <ion-card class="item-showcase" [routerLink]="['/items:id']" (click)="navigateToItem(item?.id)">
                <section class="item-image-wrapper">
                  <img class="item-image" [src]="item.img" />
                </section>
                <section class="general-content">
                <ion-card-header>
                  <!-- Category, Title(Name), Price -->
                  <ion-card-subtitle class="item-category">{{ item.category }}</ion-card-subtitle>
                  <!-- Hover effect on the title for details OR Give a short description in this section -->
                  <ion-card-title class="item-name">{{ item.name }}</ion-card-title>
                </ion-card-header>
                <ion-card-content class="item-price">
                  {{item.price | number }} {{ item.currency }}
                </ion-card-content>
                </section>
              </ion-card>
            </div>
          </ion-slide>
        </ion-slides>
      </div>
      
    </div>
    <!-- End slides -->
  </ion-content>
</div>