.home-page {
  width: 100%;
}

ion-content {
  width: calc(100% + 15px);
  --background: #fff !important;
  padding: 0 25px;
  height: auto !important;
}
// ion-content::part(scroll) {
//   padding-left: 25px;
// }

.header-home-toolbar {
  --background: #fff !important;
  --min-height: 105px !important;
  --border-width: 0 !important;
  left: -17px;
  padding: 0.5rem 0.56rem 0.1rem 0.1rem;
  width: 100% !important;
  display: flex;
  justify-content: center;

  .company-logo {
    display: block;
    margin-top: 10px;
    margin-left: 5px;
  }

  ion-avatar {
    cursor: pointer;
  }
}

#top-section {
  margin-bottom: 84px;
  padding-left: .65rem;
}

#main-section {
  position: absolute;
  left: -18px;
  right: 0;
  text-align: left;
  padding: 5px 0px 5px 10px;
  transform: translateY(0%);
  width: 100%;

  ion-searchbar {
    max-width: 700px;
    --border-radius: 35px;
    --placeholder-opacity: 0.5;
    --icon-color: #e34411;
    --placehoder-color: #a1a19d;
    --box-shadow: none;
    --background: #f6ece4;
    font-size: 12px !important;
    left: -5px;
    font-size: 12px !important;
    margin: 1px auto -5px !important;
    width: 90%;
  }

  ion-item {
    width: 85vw;
    margin: auto;
  }

  header {
    display: flex;
    justify-content: space-between;
    margin: 1.563rem 0.6rem 0.625rem 15px;

    .recommended-items {
      font-size: 1.5rem;
      font-weight: 400;
    }

    .list-all-items {
      opacity: 0.4;
      font-weight: 300;
      display: flex;
      justify-content: center;
      align-items: center;

      .view-all-items-link:hover,
      .view-all-items-link:focus {
        cursor: pointer;
        color: #0e0d0d;
      }
    }

    ion-icon.arrow-forward-icon {
      font-size: inherit;
      top: 10px;
      padding-left: 2px;
      color: #e34611;
    }
  }

  ///////////////////////////////////////////
  // Items Showcase
  //////////////////////////////////////////
  .item-showcase {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    color: #f6ece4 !important;
    max-width: 322px;

    .item-image-wrapper {
      background: #e34611fd;

      .item-image {
        object-fit: fill;
        height: 200px;
        width: 100% !important;
      }
    }

    .general-content {
      background: #e34411;
    }

    .item-category {
      font-size: 0.6rem;
      font-weight: 200 !important;
      color: #fff;
      opacity: 0.64;
    }

    .item-price {
      margin-top: -8px !important;
    }
  }
}

//  Swiper Slides
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}
